@charset "utf-8";
@import url("../webfonts/Dollar_Bill/stylesheet.css");
@import url("../webfonts/Pixel-Times/stylesheet.css");
/* CSS Document */

/* MAIN LAYOUT STYLING */
.main-layout {
	width: 900px;
	min-height: 500px;
	margin-right: auto;
	margin-left: auto;
}

.section{
	width: 850px;
	align-content: center;
	margin: auto;
	justify-content: center;
  display: grid; 
  grid-template-columns: 210px 150px 150px 150px 150px; 
  grid-template-rows: 180px 180px 180px 180px 88px; 
  gap: 0px 10px; 
}

p{
  font-family: "Pixelated-TNR", serif;
}

li{
  font-family: "Pixelated-TNR", serif;
}
/* ^ The 88px row is for the footer and the 210px column is for the about section. */

.header{
	background-image: url(../images/header-normal.png);
	width: 1000px;
	min-height: 450px;
	margin-right: auto;
	margin-left: auto;
	background-size: contain;
	background-position: relative;
	background-repeat: no-repeat;
}

.left, .middle, .right {
	margin: 5px;
	height: 100%;
	padding: 5px;
}

.left{
  margin: 3px;
  grid-area: 1 / 1 / 6 / 2;
}

.right{
	grid-area: 1 / 5 / 6 / 6;
	text-align: right;
}

.middle{
	grid-area: 1 / 2 / 6 / 5;
}

.a{
	margin: 0px;
	padding: 0px;
	alignment-baseline:middle;
  width: 100%;
	height: auto;

}

.text{
	position: relative;
	top: 44.4px;
	left: 320px;
  font-family: "Dollar Bill", serif;
	color: #E4E6CB;
	size: 57pt;
	font-size: 24px;
}

a.headlink{
	color: #E4E6CB;
	text-decoration:none
}

a.headlink:hover{
	color: #FAFAF5;
	text-decoration:blink
}

.footer{
    border: solid black 1px;
    text-align: center;
    grid-area: 5 / 1 / 7 / 6;
    
}

/* BLOG STYLES */

.diary{
    margin-top:20px;
    background-color: white;
    border: solid black 1px;
    border-bottom: solid black 0px;
    grid-area: 1 / 2 / 5 / 6;
    overflow-y: auto;
}

.diary-entry{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
    grid-auto-rows: 50px 400px;
    margin: 30px;
}

.title{
    grid-column: 1 / span 5;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.diary-content{
    grid-column: 1 / span 4;
    grid-row: 2;

    padding: 10px;
    overflow-y: scroll;


}

.sidebar{
    grid-column: 5;
    grid-row: 2;
    
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: scroll;
}

::-webkit-scrollbar {
width: 7px;
height: 7px;
}
::-webkit-scrollbar-button {
width: 0px;
height: 0px;
}
::-webkit-scrollbar-thumb {
background: #EBEBEB;
border: 0px none #ffffff;
}
::-webkit-scrollbar-track {
background: #F9F9F9;
border: 0px none #ffffff;
}
::-webkit-scrollbar-track:hover {
background: #F9F9F9;
}
::-webkit-scrollbar-track:active {
background: #F9F9F9;
}
::-webkit-scrollbar-thumb:hover {
background: #E4E4E4;
}
::-webkit-scrollbar-thumb:active {
background: #E4E4E4;
}
